body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #252525;
}

body {
  color: #64dfdf;
  font-family: Roboto, system-ui;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

#__next {
  height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 0px;
  align-items: stretch;
  height: 100%;
}

.fullscreen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 165px;
  right: 15px;
  height: 40px;
  width: 40px;
  font-size: 35px;
  z-index: 1000;
  cursor: pointer;
  text-shadow: 2px 2px 4px #252525;
}

.logo {
  color: #64dfdf;
  font-weight: 500;
  font-size: larger;
  text-shadow: 2px 2px 4px #252525;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.globe {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 222px;
  right: 15px;
  height: 40px;
  width: 40px;
  font-size: 35px;
  z-index: 1000;
  cursor: pointer;
  text-shadow: 2px 2px 4px #252525;
}

.help {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 51px;
  right: 16px;
  z-index: 1500;
  background-color: #6930c3;
  box-shadow: 2px 2px 4px #252525;
}

.help div {
  padding: 8px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.app-large {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  align-items: stretch;
  height: 100%;
}

a {
  color: #80ffdb;
}

.nav-bar {
  background-color: #6930c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help-icon {
  padding: 16px;
  cursor: pointer;
}

.footer {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
  text-shadow: 2px 2px 4px #252525;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

.title {
  padding: 8px;
  font-size: 20px;
}

.globe-label {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button-forward {
  top: 48% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 25px !important;
  width: 25px !important;
  margin-right: 11px;
}

.button-forward svg {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  transform: none !important;
}

.button-back {
  top: 48% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 25px !important;
  width: 25px !important;
  margin-left: 11px;
}

.button-back svg {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  transform: none !important;
}

.timeline-container {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  width: 100% !important;
  height: 70px !important;
  z-index: 1000;
}

.timeline {
  color: black;
  text-shadow: 0px 0px 2px #6930c3;
  font-weight: 500;
  height: 70px !important;
}

.timeline .timeline div div ul li {
  background-image: none !important;
}

.events {
  top: 48% !important;
}

.dot-label {
  padding-bottom: 10px !important;
}

.dot-label span {
  bottom: -6px !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

svg {
  filter: drop-shadow(-5px 0 black), drop-shadow(0 5px black),
    drop-shadow(5px 0 black), drop-shadow(0 -5px black);
}

.last-commit {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-shadow: 2px 2px 4px #252525;
}

.menu-item {
  font-size: 12px;
  text-shadow: none;
}

.menu-button {
  border: none !important;
  background: none;
  height: 40px;
  width: 100%;
  box-shadow: none;
}
